// header_area

// .header_area {
//     position: -webkit-sticky;
//     position: sticky;
//     width: 100%;
//     top: 0;
//     z-index: 1;
//     transition: background 0.4s, all 0.3s linear;
// 	@include transition();
//     .main_menu {
//         .main_box {
//             background: #fff;
//             margin: 0px auto 0px;
//             // max-width: 1200px;
//             box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
//         }
//     }
//     .navbar {
//         background: #fff;
//         padding: 0px;
//         border: 0px;
//         border-radius: 0px;

//         .navbar-collapse {
//             @media (max-width: 991px) {
//                 margin-top: 30px;
//                 .navbar-item {
//                     padding: 10px;
//                 }
//             }
//         }
//         .navbar-toggler {
//             .icon-bar {
//                 color: #000;
//                 height: 2px;
//                 width: 20px;
//                 content: "";
//                 background: #000;
//                 display: block;
//                 margin: 5px;
//             }
//         }
//         .nav {
//             .nav-item {
// 				margin-right: 45px;
// 				padding: 10px;
//                 .nav-link {
//                     text-transform: uppercase;
//                     padding: 0px;
//                     display: inline-block;
//                     font-size: 16px;
//                     font-weight: 500;
//                     color: $title-color;
//                     @media (min-width: 991px) {
//                         padding: 10px 0;
//                     }
//                     &:after {
//                         display: none;
//                     }
//                 }
//                 &:hover,
//                 &.active {
//                     .nav-link {
//                         color: #c52f37;
//                     }
//                 }
//             }
//         }
//         .nav.navbar-nav.navbar-right {
// 			@media (min-width: 991px) {
// 				display: -webkit-inline-box;
// 			}
// 			li {
//                 &.checkout {
//                     background:#eceff6;
//                     border-radius: 50%; 
//                 }
//                 a {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: center;
//                     align-items: center;
//                     position: relative;
//                     width: 40px;
//                     height: 40px;
//                     color: #1e1e27;
//                     transition: color 0.3s ease;
//                 }
//                 .checkout_items {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: center;
//                     align-items: center;
//                     position: absolute;
//                     top: -9px;
//                     left: 22px;
//                     width: 20px;
//                     height: 20px;
//                     border-radius: 50%;
//                     background: #fe4c50;
//                     font-size: 12px;
//                     color: #FFFFFF;
//                 }
// 			}
// 			.search {
// 				background: transparent;
// 				border: 0;
// 				cursor: pointer;
// 				padding: 0;
//             }
//             .cart {
// 				background: transparent;
// 				border: 0;
// 				cursor: pointer;
//                 padding: 0;
//                 position: relative;
                
//             }
// 		}
// 	}
// }


#search_input_box {
	position: fixed;
	left: 50%;
	width: 90%;
	// max-width: 1200px;
	z-index: 999;
	text-align: center;
    padding: 5px 20px;
    @include transform(translateX(-50%));
    @extend .gradient-bg-reverse;
	.form-control {
		background: transparent;
		border: 0;
		color: #fff;
		font-weight: 400;
		font-size: 15px;
		padding: 0;
		&:focus {
			box-shadow: none;
			outline: none;
		}
	}
	input {
		@include placeholder {
			color: #fff;
			font-size: 14px;
		}
	}
	.btn {
		width: 0;
		height: 0;
		padding: 0;
		border: 0;
	}
	.lnr-cross {
		color: #fff;
		font-weight: 600;
		cursor: pointer;
		padding: 10px 3px;
	}
}

.navbar-expand-lg > .container,
.navbar-expand-lg > .container-fluid {
	@media (max-width: 575px) {
		padding: 0px 15px;
	}
}

/*********************************
    Main Navigation
*********************************/

.header {
    position: sticky;
	width: 100%;
	background: #FFFFFF;
    z-index: 10;
    .main_nav_container {
        width: 100%;
        height: 115px;
        background: #FFFFFF;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
        .navbar {
            width: auto;
            height: 100px;
            float: right;
            padding-left: 0px;
            padding-right: 0px;
            li {
                display: inline-block;
                a {
                    text-decoration: none;
                    display: block;
                    color: #1e1e27;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 20px;
                    &:hover {
                        color: #b5aec4;
                    }
                }
            }
            .navbar_menu
            {
                @media (max-width: 991px) {
                    display: none;
                }
            }
            ul {
                list-style: none;
                margin-bottom: 0;
            }
        }
        .navbar_user {
            li {
                display: inline-block;
                text-align: center;
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 40px;
                    height: 40px;
                    color: #1e1e27;
                    transition: color 0.3s ease;
                    &:hover {
                        color: #b5aec4;
                    }
                }
                .checkout_items
                {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -9px;
                    left: 22px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #fe4c50;
                    font-size: 12px;
                    color: #FFFFFF;
                }
            }
            .checkout {
                a
                {
                    background: #eceff6;
                    border-radius: 50%;
                }
            }
        }
    }
}

/*********************************
    Hamburger Menu
*********************************/

.hamburger_container
{
	display: none;
    margin-left: 40px;

    @media (max-width: 991px) {
        display: block;
    }
    @media (max-width: 479px) {
        margin-left: 25px;
    }
    i {
        font-size: 24px;
        color: #1e1e27;
        &:hover {
            color: #b5aec4;
        }
        @media (max-width: 479px) {
            font-size: 16px;
        }
    }
    &.active {
        right: 0;
    }
}


.hamburger_menu
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: rgba(255,255,255,0.95);
	z-index: 10;
    // &.active {
    //     transform: 0;
    // }
    .hamburger_close
    {
        position: absolute;
        top: 26px;
        right: 10px;
        padding: 10px;
        z-index: 1;
        i {
            font-size: 24px;
            color: #1e1e27;
            
        }
        &:hover {
            i {
                color: #b5aec4;
            }
        }
    }
    .hamburger_menu_content {
        padding-top: 100px;
        width: 100%;
        height: 100%;
        padding-right: 20px;
        @media (max-width: 479px) {
            padding-right: 15px;
		    padding-top: 70px;
        }
        .menu_item {
            display: block;
            position: relative;
            border-bottom: solid 1px #b5aec4;
            vertical-align: middle;
            a {
                display: block;
                color: #1e1e27;
                font-weight: 500;
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                text-transform: uppercase;
                &:hover {
                    color: #b5aec4;
                }
                i {
                    margin-left: 8px;
                }
            }
        }
    }
    @media (max-width: 575px) {
        right: -100%;
		width: 100%;
    }
}

.hamburger_menu.active {
    right: 0;
}

/*********************************
3.6 Logo
*********************************/

.logo_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
    left: 15px;
    a {
        font-size: 24px;
        color: #1e1e27;
        font-weight: 700;
        text-transform: uppercase;
        span {
            color: #fe4c50;
        }
    }
}

/*********************************
3.7 Main Slider
*********************************/